body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			padding: 20px;
		}
		h1 {
			text-align: center;
			font-size: 2.5em;
			margin-bottom: 20px;
		}
		table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 20px;
		}
		th, td {
			padding: 10px;
			text-align: center;
			border: 1px solid #ddd;
		}
		th {
			background-color: #4CAF50;
			color: white;
		}
		tr:hover {
			background-color: #f5f5f5;
		}
		.buy-button {
			background-color: #4CAF50;
			color: white;
			border: none;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border-radius: 5px;
			cursor: pointer;
		}
		.quantity {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.quantity button {
			background-color: #4CAF50;
			color: white;
			border: none;
			padding: 5px;
			font-size: 16px;
			cursor: pointer;
			margin: 0 5px;
			border-radius: 5px;
		}

		.input-number-group {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }

        .input-number-group input[type=number]::-webkit-inner-spin-button,
        .input-number-group input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
                  appearance: none;
        }

        .input-number-group .input-group-button {
          line-height: calc(80px/2 - 5px);
        }

        .input-number-group .input-number {
          width: 80px;
          padding: 0 12px;
          vertical-align: top;
          text-align: center;
          outline: none;
          display: block;
          margin: 0;
        }

        .input-number-group .input-number,
        .input-number-group .input-number-decrement,
        .input-number-group .input-number-increment {
          border: 1px solid #cacaca;
          height: 40px;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          border-radius: 0;
        }

        .input-number-group .input-number-decrement,
        .input-number-group .input-number-increment {
          display: inline-block;
          width: 40px;
          background: #e6e6e6;
          color: #0a0a0a;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 400;
        }

        .input-number-group .input-number-decrement {
          margin-right: 0.3rem;
        }

        .input-number-group .input-number-increment {
          margin-left: 0.3rem;
        }