<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tomato Growing Game</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/field.css">
    <style>
		table, td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 10px;
		}
	</style>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- Game menu -->
        <div class="col-sm-2 d-flex flex-column bg-light p-3">
            <h2>Menu</h2>
            <button class="btn btn-primary my-2">Plant Tomatoes</button>
            <button class="btn btn-primary my-2">Water Tomatoes</button>
            <button class="btn btn-primary my-2">Harvest Tomatoes</button>
        </div>
        <!-- Tomato field -->
        <div class="col-sm-10 bg-white p-4">
            <h1>Tomato Field</h1>
            <table class="table table-bordered">
                <tbody th:class="field-tomato">
                    <tr style="height : 100px;" th:each="x : ${#numbers.sequence(1, field.getX())}">
                        <div th:each="y : ${#numbers.sequence(0, field.getY()-1)}">
                            <td>
                                <img th:src="'/img/' + ${field.getField()[x][y].imagePath}">
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
