<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
    body {
      background-color: #f5f5f5;
    }
    .menu-button {
      margin-top: 50px;
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .menu-button:hover {
      background-color: #007bff;
      border-color: #007bff;
    }
    .menu-button:focus {
      outline: none;
      box-shadow: none;
    }
  </style>
</head>
<body>
<div class="container">
    <a href="/selectfield"><button class="btn btn-primary menu-button btn-block">내 농장</button></a>
    <br>
    <a href="/shop"><button class="btn btn-primary menu-button btn-block">상점</button></a>
    <br>
    <button class="btn btn-primary menu-button btn-block">게임 종료</button>
</div>
</body>
</html>
