<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Field Pictures</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
    .field-pictures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 800px;
      margin: 0 auto;
    }

    .field-pictures img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 20px;
      border: 5px solid white;
      box-shadow: 5px 5px 10px #CFCFCF;
    }

    .field-pictures img:hover {
      border: 5px solid #007BFF;
    }
  </style>
</head>
<body>
<a href="/field/create">
  <button class="btn btn-primary menu-button btn-block">밭 생성</button>
</a>
<div class="field-pictures">
  <div th:each="field, idx : ${field}">
    <h2 th:text="${field.getName()}"></h2>
    <a th:href="@{/fieldDetail/{id} (id=${field.id})}"><img src="/img/field.PNG" alt="Field 1"></a>
  </div>
</div>
</body>
</html>